[submodule "contracts/lib/devtools"]
	path = contracts/lib/devtools
	url = https://github.com/LayerZero-Labs/devtools
[submodule "contracts/lib/layerzero-v2"]
	path = contracts/lib/layerzero-v2
	url = https://github.com/LayerZero-Labs/layerzero-v2
[submodule "lib/solidity-bytes-utils"]
	path = lib/solidity-bytes-utils
	url = https://github.com/GNSPS/solidity-bytes-utils
[submodule "contracts/lib/solidity-bytes-utils"]
	path = contracts/lib/solidity-bytes-utils
	url = https://github.com/GNSPS/solidity-bytes-utils
